header{
	color: blue;
}

.main-nav{
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li{
	display: inline-block;

}

.main-nav li a{
	color: rgb(148, 25, 25);
	text-decoration: none;
	padding: 5px 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 15px;
	font-weight: bold;
}

.main-nav li.acitve a{
	border:1px solid white;

}

.main-nav li a:hover{
	border:1px solid white;
	background-color: rgb(32, 19, 3);
}
main{
	height: 50pc;
}


body{
	background-image: url(../images/blue-blur-color-932638.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}




h1{
	color: rgb(148, 25, 25);
	text-transform: uppercase;
	font-size: 70px;
	text-align: center;
	margin-top: 100px;
	font-family: "Roboto", sans-serif;
}


.footer-distributed{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
	margin-top: 100px;
	background-color: grey;
}

.footer-distributed .footer-left p{
	color:  rgb(148, 25, 25);
	font-size: 14px;
	margin: 0;
}

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

.fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}


.fa-linkedin {
  color: rgb(0,119,181);
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.fa-github {
  color: purple;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}


.container{
	color: rgb(148, 25, 25);;
	border:2px transparent black;
	border-radius: 15px;
	float: center;
	background-color:#33383b;
	width: 510px;
	margin-left: 500px;
}

.foto-van-mezelf img{
	width: 350px;
	height: 390px;
	margin-left: 500px;
	border:2px solid white;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: black;
}

.containerc{
	margin-left: 200px;
	margin-top: 30px;
	color: rgb(148, 25, 25);
	font-weight: bold;
	background-color: #33383b;
}

h10{
font-family: "Roboto", sans-serif;
font-size: 20px;
margin-left: 5px;	
}

h6{
	float: right;
	margin-right: 5px;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
}


h4{
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	margin-left: 33%;
}
h3{
	color: rgb(148, 25, 25);
}
.hobby{
	color: rgb(148, 25, 25);
	margin-left: 100px;
	margin-top: 1px;
}
.skill{
	margin-left: 900px;
	margin-top: 10px;

}
h2{
	margin-left: 5px;
}

h11{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed p.footer-links a:hover{
	color: blue;
	text-decoration: underline;
}
.containercontact{
	color: rgb(148, 25, 25);
	border:2px transparent black;
	border-radius: 15px;
	float: center;
	background-color:#33383b;
	width: 510px;
	margin-left: 345px;
}
.container-project{
	background-color:#33383b;
	color: rgb(148, 25, 25);
	border:2px transparent black;
	border-radius: 15px;
	float: left;
	width: 510px;
	margin-left: 1px;
	
}
.projectfoto{
	width: 75px;
	height: 25px;
	border-image: auto;
	background-origin: padding-box;
	

}
.container-infobs{
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #33383b;
	color: rgb(148, 25, 25);
	border:2px transparent black;
	border-radius: 15px;
	float: left;
	width: 510px;
	margin-left: 1000px;
	margin-top: 200px;

}

.fa {
	font-size: 100px;
	cursor: pointer;
	user-select: none;
	color: blue;
  }
  
.fa:hover {
	color: darkblue;
  }

